
.slide {
    height: 300px;
    display: block;
    overflow: hidden;

    @media (max-width:767px) {
        height: 170px;
    }
    @media (max-width:320px) {
        height: 115px;
    }
  }

.carousel-inner{
   
    transform: translateY(-190px);
    @media (max-width:767px) {
        transform: translateY(-60px);
    }
    @media (max-width:320px) {
        transform: translateY(-20px);
    }
}


.card-body{
//     display: block;
//    overflow: hidden;
padding: 0.5rem 0.5rem;
 
}

.card{
  
   height: 100%;
   & img{
      max-height:100%;
      width:500px;
      height: 245px;
      @media (max-width:767px) {
        height: 100%;
    }
   }
   & img:hover{
    
    opacity: 50%;
   }
}

.card-title{
    margin-top: 1rem;
   
}

.card-price{
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-size: 1.3rem;

}

  