
.slide {
    height: 300px;
    display: block;
    overflow: hidden;

    @media (max-width:767px) {
        height: 170px;
    }
    @media (max-width:320px) {
        height: 115px;
    }
  }

.carousel-inner{
   
    transform: translateY(-190px);
    @media (max-width:767px) {
        transform: translateY(-60px);
    }
    @media (max-width:320px) {
        transform: translateY(-20px);
    }
}


.imgCams{
    height:190px ;
    width: 190px;
}


.card-title{
    margin-top: 1rem;
}

.card-price{
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-size: 1.3rem;

}

  